/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* VARs */
:root {
    --sidebar-width: 35%;
    --sidebar-min-width: 270px;
    --bars-height: 3rem;
}

/* IDs */
#search-bar {
    width: 100%;
    height: 2rem;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding-left: 10px;
    font-style: oblique;
    position: relative;
}

#src-btn{
    position: absolute;
    left: 0;
}

/* UTILITIY */
.flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.sidebar-left {
    width: var(--sidebar-width);
    min-width: var(--sidebar-min-width);
    height: 100%;
    background-color: #f7f7f7;
}

.userbar {
    align-items: center;
}

.userbar > h5 {
    margin-left: 5px;
}

.bars-height {
    height: var(--bars-height);
}

.sidebar-left-padding {
    padding: 0 10px 0 20px;
}

/* CLASSES */
.background {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.bg-dark-clr {
    background-color: #009688;
    top: 0;
    width: 100%;
    height: 15%;
    position: absolute;
}

.bg-light-clr {
    background-color: #DBDBD3;
    bottom: 0;
    width: 100%;
    height: 85%;
    position: absolute;
}

.wrapper {
    width: 85%;
    height: 90%;
    z-index: 9999;
}

.sidebar-left-top {
    background-color: #EAEAEA;
    justify-content: space-between;
}

.top-icons {
    width: 3.8rem;
    justify-content: space-between;
    align-items: center;
}

.notification-icon-container {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #8EDAFC;
    width: 2rem;
    height: 2rem;
    background-color: white;
}

.notification-bar > .notification-info-container {
    padding-left: 10px;
}

.notification-bar {
    background-color: #8EDAFC;
    justify-content: flex-start;
    align-items: center;
}

.notification-anchor {
    font-size: 0.7rem;
}

.searchbar {
    width: 100%;
    align-items: center;
}

.contact-elem {
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
}

.contact-elem.sel-contact {
    background-color: lightblue;
}

.contact {
    justify-content: center;
    background-color: white;
}

.contact-info {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    align-self: flex-start;
}

.contact-subtitle {
    margin-top: 3px;
    font-size: 0.6rem;
    color: #aaaaaa;
}

.contact-hour {
    font-size: 0.55rem;
    padding-top: 5px;
    color: #aaaaaa;
    align-self: flex-start;
}

.content-container {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
}

.content-top-bar {
    background-color: #EAEAEA;
    border-left: 1px solid lightgrey;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    cursor: pointer;
}

.content {
    height: calc(100% - (var(--bars-height)) * 2);
    overflow-y: auto;
    width: 100%;
    padding-top: 30px;
    background-image: url(../img/mine.jpg);
}

.received-row {
    position: relative;
    border-radius: 8px;
    width: 235px;
    height: 35px;
    background-color: #ffffff;
    align-self: flex-start;
    margin: 10px 0 0 50px;
    font-size: 0.8rem;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.sent-row {
    position: relative;
    border-radius: 8px;
    width: 200px;
    height: 35px;
    background-color: #D5F9BA;
    align-self: flex-end;
    margin: 10px 50px 0 0;
    font-size: 0.8rem;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.msg-time {
    position: absolute;
    color: #9a9a9a;
    font-size: 0.55rem;
    bottom: 2px;
    right: 5px;
}

.top-contact-container {
    justify-content: center;
    margin-left: 10px;
}

.contacts-avatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.contacts-col {
    overflow-y: auto;
}

.top-user-time {
    color: #9a9a9a;
    font-size: 0.55rem;
}

.content-bottom-bar {
    background-color: #F3EEEA;
    align-items: center;
    justify-content: space-between;
}

.content-bottom-bar > div {
    margin: 0 20px;
}

.bottom-srcbar {
    width: 100%;
    height: 2rem;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding-left: 10px;
    font-style: oblique;
}

.bottom-srcbar-container {
    width: 100%;
}