<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="background flex">
            <div class="bg-dark-clr"></div>
            <div class="bg-light-clr"></div>

            <div class="wrapper flex">
                <div class="sidebar-left">
                    <div class="sidebar-left-top flex bars-height sidebar-left-padding">
                        <div class="userbar flex">
                            <img class="contacts-avatar" src="img/avatar_io.jpg" alt="avt_io">
                            <h5>Sofia</h5>
                        </div>
        
                        <div class="top-icons flex">
                            <a href="#"><i class="fa-solid fa-circle-notch" style="color: #b0b0b0;"></i></a>
                            <a href="#"><i class="fa-solid fa-message" style="color: #b0b0b0;"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical" style="color: #b0b0b0;"></i></a>
                        </div>
                    </div>
        
                    <div class="notification-bar bars-height sidebar-left-padding flex">
                        <div class="notification-icon-container flex">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notification-info-container flex d-column">
                            <h6>Ricevi notifiche di nuovi messaggi</h6>
                            <a class="notification-anchor" href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
    
                    <div class="searchbar bars-height sidebar-left-padding flex">
                        <input type="search" name="search-bar" id="search-bar" placeholder="Cerca o inizia una nuova chat">
                    </div>
    
                    <div class="contacts-col">
                        <div class="contact-elem sidebar-left-padding flex bars-height" v-for="(contact, index) in contacts" @click="activeIndexUpdate(index)" :class="index === activeIndex ? 'sel-contact' : ''">
                            <img class="contacts-avatar" :src="`img/avatar${contact.avatar}.jpg`" alt="avt_1">
                            <div class="contact-info flex d-column">
                                <h5 class="contact-name">{{ contact.name }}</h5>
                                <p class="contact-subtitle">Ultimo messaggio</p>
                            </div>
                            <span class="contact-hour">12:00</span>
                        </div>
                    </div>
                </div>
                
                <div class="content-container">
                    <div class="content-top-bar bars-height flex">
                        <div class="flex">
                            <img class="contacts-avatar" :src="`img/avatar${contacts[activeIndex].avatar}.jpg`" alt="avt_1">

                            <div class="top-contact-container flex d-column">
                                <h5>{{contacts[activeIndex].name}}</h5>
                                <p class="top-user-time">Ultimo accesso il 7/7 alle 07:07</p>
                            </div>
                        </div>
                        
                        <div class="top-icons flex">
                            <a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #b0b0b0;"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip" style="color: #b0b0b0;"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical" style="color: #b0b0b0;"></i></a>

                        </div>
                    </div>

                    <div class="content flex d-column">
                        <div v-for="message in contacts[activeIndex].messages">
                            <div class="flex d-column">
                                <div class="flex d-column" :class="message.status === 'received' ? 'received-row' : 'sent-row'" class="">
                                    <p>{{ message.message }}</p>
                                    <p class="msg-time">07:07</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="content-bottom-bar bars-height flex">
                        <div>
                            <i class="fa-regular fa-face-smile" style="color: #b0b0b0;"></i>
                        </div>

                        <div class="bottom-srcbar-container">
                            <input @keyup.enter="sendNewMsg" v-model.trim="newMsg" class="bottom-srcbar" type="text" placeholder="Scrivi un messaggio">
                        </div>

                        <div>
                            <i class="fa-solid fa-microphone" style="color: #b0b0b0;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="JS/data.js"></script>
</body>
</html>